#loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgb(180, 32, 180);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#bannercontainer {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: 10px;
}
.lefthand {
  height: 500px;
  width: 60%;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
}
.righthand {
  height: 500px;
  width: 40%;
  padding: 20px 30px 20px 20px;
  box-sizing: border-box;
}
.lefthandcontent {
  box-shadow: 0px 1px 49px -14px rgba(79, 77, 77, 0.58);
  border-radius: 10px;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 30px 10px 10px 20px;
}
.lefthandcontent > img {
  position: absolute;
  right: 0px;
  top: 50px;
}
.righthandcontent {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  background-color: #f1e4f1;
  padding: 20px;
}
